@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}
/* index.css */

.project-tile::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease-in-out;
  z-index: 10;
}

.project-tile:hover::after {
  background: rgba(0, 0, 0, 0.75); /* darkens on hover */
}

.case-study-video {
  max-width: 1440px;
  margin: 4rem auto;
  padding: 0 3rem;
}

.case-study-video .aspect-video {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
}


.device-showcase {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  max-width: 1200px;
  margin: 6rem auto;
  padding: 0 3rem;
}

@media (min-width: 768px) {
  .device-showcase {
    grid-template-columns: repeat(2, 1fr);
  }
}

.device-showcase img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
}

.nav-button {
  padding: 1.5rem 3rem;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 9999px;
  border: 2px solid #012a4a;
  color: #012a4a;
  background-color: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #012a4a;
  color: #ffffff;
}

